<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">

    <!-- Text Logo - Use this if you don't have a graphic logo -->

    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->



    <!-- Image Logo -->

    <a class="navbar-brand logo-image" href="#header"><img src="{{ url_for('static', filename='images/logo.svg') }}" alt="alternative"></a>

    

    <!-- Mobile Menu Toggle Button -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-awesome fas fa-bars"></span>

        <span class="navbar-toggler-awesome fas fa-times"></span>

    </button>

    <!-- end of mobile menu toggle button -->



    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <ul class="navbar-nav ml-auto">

            <li class="nav-item">

                <a class="nav-link page-scroll" href="#header">HOME <span class="sr-only">(current)</span></a>

            </li>

            <li class="nav-item">

                <a class="nav-link page-scroll" href="#intro">INTRO</a>

            </li>

            <li class="nav-item">

                <a class="nav-link page-scroll" href="#example">HOW</a>

            </li>

            <li class="nav-item">

                <a class="nav-link page-scroll" href="{{ url_for('where') }}">WHERE</a>

            </li>



            <!-- Dropdown Menu 1 -->          

            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle page-scroll" href="{{ url_for('index', _anchor='about') }}" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT</a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="{{ url_for('partners') }}"><span class="item-text">PARTNERS ORGANIZATION</span></a>

                        <div class="dropdown-items-divide-hr"></div> 

                    <a class="dropdown-item" href="{{ url_for('status') }}"><span class="item-text">TRANSLATION STATUS</span></a>

                    <div class="dropdown-items-divide-hr"></div>

                    <a class="dropdown-item" href="{{ url_for('terms') }}"><span class="item-text">TERMS CONDITIONS</span></a>

                    <div class="dropdown-items-divide-hr"></div>

                    <a class="dropdown-item" href="{{ url_for('privacy') }}"><span class="item-text">PRIVACY POLICY</span></a>

                </div>

            </li>

            



                <!-- Dropdown Menu 2 --> 

            <FORM action="/process" method="post">

            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle page-scroll" href="{{ url_for('index') }}" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">LANGUAGE RESOURCES</a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    {% for menu in json_data %}

                    <a class="dropdown-item" href="{{ url_for('resource_page', code=menu.Code) }}"><span class="item-text">{{ menu.Name }}</span></a>

                    {% if not loop.last %}

                        <div class="dropdown-items-divide-hr"></div>
                    
                    {% endif %}

                    {% endfor %}

                </div>

            </li>

            </FORM>

            <!-- end of dropdown menu 2 -->

            

                <!-- Dropdown Menu 3 --> 

            <FORM action="/process" method="post">

            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle page-scroll" href="{{ url_for('index') }}" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">SUN</a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    {% for menu in json_data1 %}

                    <a class="dropdown-item" href="{{ url_for('sun_page', code=menu.Code) }}"><span class="item-text">{{ menu.Name }}</span></a>

                    {% if not loop.last %}

                        <div class="dropdown-items-divide-hr"></div>
                    
                    {% endif %}

                    {% endfor %}

                </div>

            </li>

            </FORM>

            <!-- end of dropdown menu 3 -->

            

            <!--<li class="nav-item">

                <a class="nav-link page-scroll" href="{{ url_for('Bible') }}">SUN BIBLE</a>

            </li> -->

            <li><span>

                <a class="p-2 mb-2 bg-danger text-white" href="https://give.wycliffeassociates.org/donate/sun" target="_blank">DONATE</a>

            </span>

            </li>

        </ul>

        

        

<!--        <span class="nav-item social-icons">

            <span class="fa-stack">

                <a href="#your-link">

                    <span class="hexagon"></span>

                    <i class="fab fa-facebook-f fa-stack-1x"></i>

                </a>

            </span>

            <span class="fa-stack">

                <a href="#your-link">

                    <span class="hexagon"></span>

                    <i class="fab fa-twitter fa-stack-1x"></i>

                </a>

            </span>

        </span>

-->    </div>

</nav> <!-- end of navbar -->

