<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
Cache-Control:no-cache;>
{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Country and Partner Organization</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->
<style>
		table {
		
			border:3px ridge #09343e;
			border-collapse:collapse;
			border-spacing:13px;
			padding:5px;
		}
		table th {
			border:3px ridge #09343e;
			font-size: 24px;
            font-weight: bold;
			text-align:center;
			padding:5px;
			background: #033b49;
			color: #ffffff;
		}
		table td {
			border:3px ridge #09343e;
			font-size: 15px;
            font-weight: bold;
			text-align:left;
			padding:5px;
			background: #ffffff;
			color: #313030;
		}
	</style>
<p></p>
    <center>
        <p></p>
        {{ html_table|safe }}
    </center>
<p></p>
{% endblock %}
